<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6acb5917-e088-43f9-8525-638042b36fad" name="LogIn Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6acb5917-e088-43f9-8525-638042b36fadfileName">LogIn-Test-Suite</con:setting>
  </con:settings>
  <con:runType>PARALLELL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
