<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9f19a0d3-f57b-4b3a-8c2a-aeb6594b2089" name="Address Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="9f19a0d3-f57b-4b3a-8c2a-aeb6594b2089fileName">Address-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
